body{
    background: linear-gradient(to right,#200122, #6f0000);
    padding: 20px;
}
.agents-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.agents-container{
    margin: 25px;
    background-color: lightgray;
    padding: 20px;
    width: 26%;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0px 0px 6px 6px white
    
}
.agents-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agents-no{
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
   
}
.agents-description{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.agents-name{
    font-family:sans-serif
}
.agents-img{
    width: 100%;
    height: 300px
}
.agents-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.agents-logo{
    width: 15px;
    height: 15px;
}

/*for Nav-bar*/

.nav-bar{
    text-align: center;
    border-radius: 10px; 
}
.btn{
    width: 100px;
    border-radius: 5px;
    height: 50px;
    background: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color:#6f0000;
    cursor: pointer;
    background-color: white;
}
.nav-bar .btn:hover{
    border: 3px solid white;
    background-color: #6f0000;
    color: white;
}