body{
    background: linear-gradient(to right,#200122, #6f0000);
    padding: 20px;
}
.agents-container{
    background-color: white;
    padding: 20px;
    width: 33%;
    border-radius: 10px;
}
.agents-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agents-no{
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;
   
}
.agents-name{
    font-family:sans-serif
}
.agents-img{
    width: 100%;
    height: 300px
}
.agents-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}